# Slidev build output
dist/
node_modules/
.DS_Store

# Pages build output
_site/

# Slidev export output
slides-export.pdf
slides-export/
slides-handout.md
slides-handout.pdf
slides-handout-notes.pdf
